<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Weapon</key>
	<dict>
		<key>Rocket Launcher</key>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>Kills</key>
			<integer>0</integer>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Flamethrower</key>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>Kills</key>
			<integer>0</integer>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Pistol</key>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>Kills</key>
			<integer>0</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Revolver</key>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>Kills</key>
			<integer>0</integer>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Shotgun</key>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>Kills</key>
			<integer>0</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Machine Gun</key>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>Kills</key>
			<integer>0</integer>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Gattling Gun</key>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>Kills</key>
			<integer>0</integer>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Phaser</key>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>Kills</key>
			<integer>0</integer>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Laser Rifle</key>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>Kills</key>
			<integer>0</integer>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Shurikin</key>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>Kills</key>
			<integer>0</integer>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Grenade Launcher</key>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>Kills</key>
			<integer>0</integer>
			<key>Enabled</key>
			<false/>
		</dict>
	</dict>
	<key>Enemy</key>
	<dict>
		<key>Shadow</key>
		<integer>0</integer>
		<key>Juggernaut</key>
		<integer>0</integer>
		<key>Exploder</key>
		<integer>0</integer>
	</dict>
	<key>Score</key>
	<dict>
		<key>1</key>
		<integer>0</integer>
		<key>2</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
