<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Blast1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 176}</string>
			<key>spriteSourceSize</key>
			<string>{176, 176}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{664, 2}, {176, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blast1E.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 176}</string>
			<key>spriteSourceSize</key>
			<string>{176, 176}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 2}, {176, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blast2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 160}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 2}, {160, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blast2E.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 160}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 288}, {160, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blast3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{144, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 288}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blast3E.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{144, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 288}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blast4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{81, 80}</string>
			<key>spriteSourceSize</key>
			<string>{81, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{569, 180}, {81, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blast4E.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{81, 80}</string>
			<key>spriteSourceSize</key>
			<string>{81, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 180}, {81, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blast5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 64}</string>
			<key>spriteSourceSize</key>
			<string>{65, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{652, 180}, {65, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blast5E.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 64}</string>
			<key>spriteSourceSize</key>
			<string>{65, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{719, 180}, {65, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Box.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {15, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{15, 15}</string>
			<key>spriteSourceSize</key>
			<string>{15, 15}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1004, 22}, {15, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bullet.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {3, 3}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{3, 3}</string>
			<key>spriteSourceSize</key>
			<string>{3, 3}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{998, 164}, {3, 3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BulletLarge.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {5, 5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{5, 5}</string>
			<key>spriteSourceSize</key>
			<string>{5, 5}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{695, 246}, {5, 5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EnemySmall1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 36}</string>
			<key>spriteSourceSize</key>
			<string>{21, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{818, 180}, {21, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EnemySmall2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{19, 36}</string>
			<key>spriteSourceSize</key>
			<string>{21, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{983, 244}, {19, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EnemySmall3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{19, 36}</string>
			<key>spriteSourceSize</key>
			<string>{21, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 244}, {19, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EnemySmall4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{19, 36}</string>
			<key>spriteSourceSize</key>
			<string>{21, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 326}, {19, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EnemySmall5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 36}</string>
			<key>spriteSourceSize</key>
			<string>{21, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{952, 206}, {21, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Exploder1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {28, 34}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{28, 34}</string>
			<key>spriteSourceSize</key>
			<string>{32, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{514, 364}, {28, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Exploder2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {28, 34}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{28, 34}</string>
			<key>spriteSourceSize</key>
			<string>{32, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{544, 364}, {28, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Exploder3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {28, 34}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{28, 34}</string>
			<key>spriteSourceSize</key>
			<string>{32, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 364}, {28, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Exploder4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {28, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{28, 34}</string>
			<key>spriteSourceSize</key>
			<string>{32, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{574, 364}, {28, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Exploder5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {28, 34}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{28, 34}</string>
			<key>spriteSourceSize</key>
			<string>{32, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 364}, {28, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Flame1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {13, 13}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{13, 13}</string>
			<key>spriteSourceSize</key>
			<string>{15, 15}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{652, 246}, {13, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Flame2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {15, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{15, 13}</string>
			<key>spriteSourceSize</key>
			<string>{15, 15}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1004, 39}, {15, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Flame3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {15, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{15, 13}</string>
			<key>spriteSourceSize</key>
			<string>{15, 15}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{667, 246}, {15, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Flamethrower1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {24, 36}}</string>
			<key>spriteOffset</key>
			<string>{-6, -2}</string>
			<key>spriteSize</key>
			<string>{24, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{998, 288}, {24, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Flamethrower2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {24, 36}}</string>
			<key>spriteOffset</key>
			<string>{-6, -2}</string>
			<key>spriteSize</key>
			<string>{24, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{975, 206}, {24, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Flamethrower3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {24, 36}}</string>
			<key>spriteOffset</key>
			<string>{-6, -2}</string>
			<key>spriteSize</key>
			<string>{24, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{492, 288}, {24, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Flamethrower4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {24, 36}}</string>
			<key>spriteOffset</key>
			<string>{-6, -2}</string>
			<key>spriteSize</key>
			<string>{24, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{904, 244}, {24, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gattling1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{874, 244}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gattling2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{922, 206}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gattling3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{932, 288}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Gattling4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 364}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Grenade1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{902, 288}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Grenade2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{700, 288}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Grenade3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{872, 288}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Grenade4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{690, 326}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Juggernaut1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {30, 36}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{30, 36}</string>
			<key>spriteSourceSize</key>
			<string>{32, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{873, 326}, {30, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Juggernaut2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {30, 36}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{30, 36}</string>
			<key>spriteSourceSize</key>
			<string>{32, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 244}, {30, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Juggernaut3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {30, 40}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{30, 40}</string>
			<key>spriteSourceSize</key>
			<string>{32, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{874, 164}, {30, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Juggernaut4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {30, 40}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{30, 40}</string>
			<key>spriteSourceSize</key>
			<string>{32, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{786, 180}, {30, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Juggernaut5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {30, 40}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{30, 40}</string>
			<key>spriteSourceSize</key>
			<string>{32, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 164}, {30, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Laser.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 2}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 2}</string>
			<key>spriteSourceSize</key>
			<string>{30, 2}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{906, 202}, {30, 2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Laser1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {30, 36}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{30, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{936, 164}, {30, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Laser2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{905, 326}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Laser3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{843, 326}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Laser4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{906, 164}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MachineGun1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 288}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MachineGun2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 326}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MachineGun3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 288}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MachineGun4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{628, 288}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PauseButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {18, 18}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1004, 2}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Phaser1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{554, 288}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Phaser2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 326}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Phaser3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{968, 164}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Phaser4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 326}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PhaserBullet.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {10, 5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 5}</string>
			<key>spriteSourceSize</key>
			<string>{10, 5}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 246}, {10, 5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {36, 36}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{36, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{766, 288}, {36, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {36, 36}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{36, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{935, 326}, {36, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {36, 36}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{36, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 326}, {36, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {36, 36}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{36, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578, 326}, {36, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Revolver1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {42, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{42, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{878, 206}, {42, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Revolver2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {42, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{42, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 326}, {42, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Revolver3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {42, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{42, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{534, 326}, {42, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Revolver4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {42, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{42, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{584, 288}, {42, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rocket.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 4}</string>
			<key>spriteSourceSize</key>
			<string>{8, 4}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 282}, {8, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rocket1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{654, 326}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rocket2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{664, 288}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rocket3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 326}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rocket4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 206}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Shotgun1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {32, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{32, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 450}, {32, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Shotgun2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {30, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{30, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 288}, {30, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Shotgun3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {30, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{30, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{930, 244}, {30, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Shotgun4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {30, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{30, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 288}, {30, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Shurikin.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{9, 9}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 246}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Shurikin1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{730, 288}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Shurikin2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{720, 326}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Shurikin3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{518, 288}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Shurikin4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{804, 288}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tiltJumpButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 284}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 284}</string>
			<key>spriteSourceSize</key>
			<string>{240, 284}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {240, 284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tiltShootButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 284}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 284}</string>
			<key>spriteSourceSize</key>
			<string>{240, 284}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 2}, {240, 284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>