<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{497, 44}, {10, 6}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {10, 6}}</string>
			<key>sourceSize</key>
			<string>{10, 6}</string>
		</dict>
		<key>EnemySmall1.png</key>
		<dict>
			<key>frame</key>
			<string>{{411, 44}, {21, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {21, 36}}</string>
			<key>sourceSize</key>
			<string>{21, 36}</string>
		</dict>
		<key>EnemySmall2.png</key>
		<dict>
			<key>frame</key>
			<string>{{388, 44}, {21, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {21, 36}}</string>
			<key>sourceSize</key>
			<string>{21, 36}</string>
		</dict>
		<key>EnemySmall3.png</key>
		<dict>
			<key>frame</key>
			<string>{{476, 44}, {19, 36}}</string>
			<key>offset</key>
			<string>{-1, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {19, 36}}</string>
			<key>sourceSize</key>
			<string>{21, 36}</string>
		</dict>
		<key>EnemySmall4.png</key>
		<dict>
			<key>frame</key>
			<string>{{455, 44}, {19, 36}}</string>
			<key>offset</key>
			<string>{-1, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {19, 36}}</string>
			<key>sourceSize</key>
			<string>{21, 36}</string>
		</dict>
		<key>EnemySmall5.png</key>
		<dict>
			<key>frame</key>
			<string>{{434, 44}, {19, 36}}</string>
			<key>offset</key>
			<string>{-1, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {19, 36}}</string>
			<key>sourceSize</key>
			<string>{21, 36}</string>
		</dict>
		<key>MachineGun1.png</key>
		<dict>
			<key>frame</key>
			<string>{{286, 2}, {42, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 40}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>MachineGun2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 44}, {42, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 40}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>MachineGun3.png</key>
		<dict>
			<key>frame</key>
			<string>{{462, 2}, {42, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 40}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>MachineGun4.png</key>
		<dict>
			<key>frame</key>
			<string>{{134, 44}, {42, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 40}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>MachineGunStill.png</key>
		<dict>
			<key>frame</key>
			<string>{{90, 44}, {42, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 40}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Phaser1.png</key>
		<dict>
			<key>frame</key>
			<string>{{304, 44}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Phaser2.png</key>
		<dict>
			<key>frame</key>
			<string>{{346, 44}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Phaser3.png</key>
		<dict>
			<key>frame</key>
			<string>{{220, 44}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Phaser4.png</key>
		<dict>
			<key>frame</key>
			<string>{{178, 44}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>PhaserBullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 86}, {21, 9}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {21, 9}}</string>
			<key>sourceSize</key>
			<string>{21, 9}</string>
		</dict>
		<key>PhaserStill.png</key>
		<dict>
			<key>frame</key>
			<string>{{262, 44}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Pistol1.png</key>
		<dict>
			<key>frame</key>
			<string>{{98, 2}, {46, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {46, 40}}</string>
			<key>sourceSize</key>
			<string>{46, 40}</string>
		</dict>
		<key>Pistol2.png</key>
		<dict>
			<key>frame</key>
			<string>{{146, 2}, {46, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {46, 40}}</string>
			<key>sourceSize</key>
			<string>{46, 40}</string>
		</dict>
		<key>Pistol3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {46, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {46, 40}}</string>
			<key>sourceSize</key>
			<string>{46, 40}</string>
		</dict>
		<key>Pistol4.png</key>
		<dict>
			<key>frame</key>
			<string>{{194, 2}, {46, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {46, 40}}</string>
			<key>sourceSize</key>
			<string>{46, 40}</string>
		</dict>
		<key>PistolStill.png</key>
		<dict>
			<key>frame</key>
			<string>{{50, 2}, {46, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {46, 40}}</string>
			<key>sourceSize</key>
			<string>{46, 40}</string>
		</dict>
		<key>Shotgun1.png</key>
		<dict>
			<key>frame</key>
			<string>{{46, 44}, {42, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 40}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Shotgun2.png</key>
		<dict>
			<key>frame</key>
			<string>{{330, 2}, {42, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 40}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Shotgun3.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 2}, {42, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 40}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Shotgun4.png</key>
		<dict>
			<key>frame</key>
			<string>{{374, 2}, {42, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 40}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>ShotgunStill.png</key>
		<dict>
			<key>frame</key>
			<string>{{418, 2}, {42, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 40}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 128}</string>
	</dict>
</dict>
</plist>
