<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>AmmoBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{342, 132}, {24, 16}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 16}}</string>
			<key>sourceSize</key>
			<string>{24, 16}</string>
		</dict>
		<key>Blast1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {160, 160}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {160, 160}}</string>
			<key>sourceSize</key>
			<string>{160, 160}</string>
		</dict>
		<key>Blast2.png</key>
		<dict>
			<key>frame</key>
			<string>{{164, 2}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 8}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{144, 144}</string>
		</dict>
		<key>Blast3.png</key>
		<dict>
			<key>frame</key>
			<string>{{294, 2}, {81, 80}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {81, 80}}</string>
			<key>sourceSize</key>
			<string>{81, 80}</string>
		</dict>
		<key>Blast4.png</key>
		<dict>
			<key>frame</key>
			<string>{{377, 2}, {65, 64}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {65, 64}}</string>
			<key>sourceSize</key>
			<string>{65, 64}</string>
		</dict>
		<key>Blast5.png</key>
		<dict>
			<key>frame</key>
			<string>{{444, 2}, {49, 48}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 8}, {49, 48}}</string>
			<key>sourceSize</key>
			<string>{65, 64}</string>
		</dict>
		<key>Bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{500, 164}, {10, 6}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {10, 6}}</string>
			<key>sourceSize</key>
			<string>{10, 6}</string>
		</dict>
		<key>Cartridge.png</key>
		<dict>
			<key>frame</key>
			<string>{{425, 68}, {16, 18}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {16, 18}}</string>
			<key>sourceSize</key>
			<string>{16, 18}</string>
		</dict>
		<key>EnemySmall1.png</key>
		<dict>
			<key>frame</key>
			<string>{{55, 252}, {21, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {21, 36}}</string>
			<key>sourceSize</key>
			<string>{21, 36}</string>
		</dict>
		<key>EnemySmall2.png</key>
		<dict>
			<key>frame</key>
			<string>{{32, 252}, {21, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {21, 36}}</string>
			<key>sourceSize</key>
			<string>{21, 36}</string>
		</dict>
		<key>EnemySmall3.png</key>
		<dict>
			<key>frame</key>
			<string>{{490, 204}, {19, 36}}</string>
			<key>offset</key>
			<string>{-1, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {19, 36}}</string>
			<key>sourceSize</key>
			<string>{21, 36}</string>
		</dict>
		<key>EnemySmall4.png</key>
		<dict>
			<key>frame</key>
			<string>{{78, 252}, {19, 36}}</string>
			<key>offset</key>
			<string>{-1, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {19, 36}}</string>
			<key>sourceSize</key>
			<string>{21, 36}</string>
		</dict>
		<key>EnemySmall5.png</key>
		<dict>
			<key>frame</key>
			<string>{{99, 252}, {19, 36}}</string>
			<key>offset</key>
			<string>{-1, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {19, 36}}</string>
			<key>sourceSize</key>
			<string>{21, 36}</string>
		</dict>
		<key>Exploder1.png</key>
		<dict>
			<key>frame</key>
			<string>{{340, 204}, {28, 34}}</string>
			<key>offset</key>
			<string>{2, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 2}, {28, 34}}</string>
			<key>sourceSize</key>
			<string>{32, 36}</string>
		</dict>
		<key>Exploder2.png</key>
		<dict>
			<key>frame</key>
			<string>{{400, 204}, {28, 34}}</string>
			<key>offset</key>
			<string>{2, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 2}, {28, 34}}</string>
			<key>sourceSize</key>
			<string>{32, 36}</string>
		</dict>
		<key>Exploder3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 252}, {28, 34}}</string>
			<key>offset</key>
			<string>{2, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 2}, {28, 34}}</string>
			<key>sourceSize</key>
			<string>{32, 36}</string>
		</dict>
		<key>Exploder4.png</key>
		<dict>
			<key>frame</key>
			<string>{{460, 204}, {28, 34}}</string>
			<key>offset</key>
			<string>{2, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 2}, {28, 34}}</string>
			<key>sourceSize</key>
			<string>{32, 36}</string>
		</dict>
		<key>Exploder5.png</key>
		<dict>
			<key>frame</key>
			<string>{{370, 204}, {28, 34}}</string>
			<key>offset</key>
			<string>{2, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 2}, {28, 34}}</string>
			<key>sourceSize</key>
			<string>{32, 36}</string>
		</dict>
		<key>Juggernaut1.png</key>
		<dict>
			<key>frame</key>
			<string>{{310, 204}, {28, 46}}</string>
			<key>offset</key>
			<string>{-2, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {28, 46}}</string>
			<key>sourceSize</key>
			<string>{32, 46}</string>
		</dict>
		<key>Juggernaut2.png</key>
		<dict>
			<key>frame</key>
			<string>{{430, 204}, {28, 46}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {28, 46}}</string>
			<key>sourceSize</key>
			<string>{32, 46}</string>
		</dict>
		<key>Juggernaut3.png</key>
		<dict>
			<key>frame</key>
			<string>{{276, 204}, {32, 46}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 46}}</string>
			<key>sourceSize</key>
			<string>{32, 46}</string>
		</dict>
		<key>Juggernaut4.png</key>
		<dict>
			<key>frame</key>
			<string>{{342, 84}, {32, 46}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 46}}</string>
			<key>sourceSize</key>
			<string>{32, 46}</string>
		</dict>
		<key>Juggernaut5.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 204}, {32, 46}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 46}}</string>
			<key>sourceSize</key>
			<string>{32, 46}</string>
		</dict>
		<key>MachineGun1.png</key>
		<dict>
			<key>frame</key>
			<string>{{294, 124}, {40, 38}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {40, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>MachineGun2.png</key>
		<dict>
			<key>frame</key>
			<string>{{176, 164}, {40, 38}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {40, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>MachineGun3.png</key>
		<dict>
			<key>frame</key>
			<string>{{50, 164}, {40, 38}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {40, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>MachineGun4.png</key>
		<dict>
			<key>frame</key>
			<string>{{92, 164}, {40, 38}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {40, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>MachineGunJump.png</key>
		<dict>
			<key>frame</key>
			<string>{{134, 164}, {40, 38}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {40, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>MachineGunStill.png</key>
		<dict>
			<key>frame</key>
			<string>{{218, 164}, {40, 38}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {40, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Phaser1.png</key>
		<dict>
			<key>frame</key>
			<string>{{122, 204}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Phaser2.png</key>
		<dict>
			<key>frame</key>
			<string>{{82, 204}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Phaser3.png</key>
		<dict>
			<key>frame</key>
			<string>{{202, 204}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Phaser4.png</key>
		<dict>
			<key>frame</key>
			<string>{{162, 204}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>PhaserBullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 244}, {14, 6}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {14, 6}}</string>
			<key>sourceSize</key>
			<string>{14, 6}</string>
		</dict>
		<key>PhaserJump.png</key>
		<dict>
			<key>frame</key>
			<string>{{340, 164}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>PhaserStill.png</key>
		<dict>
			<key>frame</key>
			<string>{{260, 164}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Pistol1.png</key>
		<dict>
			<key>frame</key>
			<string>{{444, 92}, {46, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {46, 38}}</string>
			<key>sourceSize</key>
			<string>{46, 40}</string>
		</dict>
		<key>Pistol2.png</key>
		<dict>
			<key>frame</key>
			<string>{{294, 84}, {46, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {46, 38}}</string>
			<key>sourceSize</key>
			<string>{46, 40}</string>
		</dict>
		<key>Pistol3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 164}, {46, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {46, 38}}</string>
			<key>sourceSize</key>
			<string>{46, 40}</string>
		</dict>
		<key>Pistol4.png</key>
		<dict>
			<key>frame</key>
			<string>{{377, 108}, {46, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {46, 38}}</string>
			<key>sourceSize</key>
			<string>{46, 40}</string>
		</dict>
		<key>PistolJump.png</key>
		<dict>
			<key>frame</key>
			<string>{{377, 68}, {46, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {46, 38}}</string>
			<key>sourceSize</key>
			<string>{46, 40}</string>
		</dict>
		<key>PistolStill.png</key>
		<dict>
			<key>frame</key>
			<string>{{444, 52}, {46, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {46, 38}}</string>
			<key>sourceSize</key>
			<string>{46, 40}</string>
		</dict>
		<key>Shotgun1.png</key>
		<dict>
			<key>frame</key>
			<string>{{380, 164}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Shotgun2.png</key>
		<dict>
			<key>frame</key>
			<string>{{420, 164}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Shotgun3.png</key>
		<dict>
			<key>frame</key>
			<string>{{460, 164}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>Shotgun4.png</key>
		<dict>
			<key>frame</key>
			<string>{{300, 164}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>ShotgunJump.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 204}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
		<key>ShotgunStill.png</key>
		<dict>
			<key>frame</key>
			<string>{{42, 204}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{42, 40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>
